python-dotenv==1.1.0
pypdf==5.1.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
sqlalchemy==2.0.40
cloud-sql-python-connector[pg8000]==1.16.0
pg8000==1.31.2
fastapi==0.115.0
uvicorn==0.30.6
google-adk
google-genai
itsdangerous==2.2.0
Werkzeug==3.1.3
